#moves-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.moves-list {
    background-color: rgb(226, 226, 226);
    padding: 20px;

    width: 40vh;
    height: 40vh;

    font-size: 18px;
    text-align: left;
}