#moves-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.moves-list {
    background-color: rgb(226, 226, 226);
    padding: 20px;

    width: 270px;
    min-height: 350px;
    max-height: 350px;
    overflow: auto;

    font-size: 18px;
    text-align: left;
}